@import "./defs.scss";

#main{
    #intro, #story{
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
        //min-height: 100vh;

        h1{
            line-height: .8em;
        }

        .text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            p{
                font-size: 1em;
            }
        }
    }

    #intro{
        min-height: 95vh;
        justify-content: space-around;
        .content{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .scroll-prompt{
            position: relative;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
}