@import "./defs.scss";

#main{
    padding-bottom: 5vh;
    @media(max-width:900px){
        gap: 10vw;
    }
    
    & > *{
        border-bottom: 6px solid $color-main;
        padding: 8vw;
    }

    #banner{
        padding: 0;
        position: relative;
        height: 500px;
        background-image: url(../media/sisikola-banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media(max-width: 900px){
            height: 60vw;
            //background-position: 0;

        }

        #banner-content{
            backdrop-filter: blur(3px);
            height: 100%;
            width: 100%;
            padding: 5vw;
            background: rgba($color: $color-secondary, $alpha: .3);
            display: flex;
            align-items: center;
            
            .heading{
                font-size: 8rem;
                @media(max-width: 600px){
                    font-size: 6rem;
                }
            }
        }
    }

    #contact-info{
        position: relative; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10vw;
        @media(max-width: 600px){
            grid-template-columns: auto;
            gap: 10vh;
        }

        .contact{
            display: flex;
            flex-direction: column;
            gap: .5em;

            .info{
                display: flex;
                flex-direction: column;
                gap: .2em;
                div{
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    img{
                        width: 1em;
                    }
                }
            }
        }
    }

    #board{
        border: none;
        text-align: center;

        .title{
            text-transform: uppercase;

            .heading{
                font-size: 16rem;
            }

            .description{
                font-size: 8rem;
            }
        }


    }
}