#main #banner {
  position: relative;
  top: 10vh;
  height: 500px;
  background-image: url(../media/sisikola-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 6px solid #F6F2D6;
}

#main #banner #banner-content {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  padding: 3vw;
  background: rgba(36, 24, 3, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #banner #banner-content .heading {
  font-size: 7rem;
}
