#main {
  padding-bottom: 5vh;
}

#main > * {
  border-bottom: 6px solid #F6F2D6;
  padding: 10vh 8vw;
}

#main #banner {
  padding: 0;
  position: relative;
  height: 500px;
  background-image: url(../media/sisikola-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 900px) {
  #main #banner {
    height: 60vw;
  }
}

#main #banner #banner-content {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  padding: 5vw;
  background: rgba(36, 24, 3, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #banner #banner-content .heading {
  font-size: 8rem;
}

@media (max-width: 600px) {
  #main #banner #banner-content .heading {
    font-size: 6rem;
  }
}

#main #contact-info {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10vw;
}

@media (max-width: 600px) {
  #main #contact-info {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 10vh;
  }
}

#main #contact-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

#main #contact-info .contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .2em;
}

#main #contact-info .contact .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

#main #contact-info .contact .info div img {
  width: 1em;
}

#main #contact-info .contact .info .button {
  font-size: 4rem;
  margin-top: .5em;
}

#main #board {
  border: none;
  text-align: center;
}

#main #board .title {
  text-transform: uppercase;
  font-size: .55vw;
}

#main #board .title .heading {
  font-size: 16em;
}

#main #board .title .description {
  font-size: 8em;
}
