@import "./defs.scss";

#main{
    #banner{
        position: relative;
        top: 10vh;
        height: 500px;
        background-image: url(../media/sisikola-banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 6px solid $color-main;

        @media(max-width: 900px){
            height: 35vh;
            background-position: 0;

        }

        #banner-content{
            backdrop-filter: blur(3px);
            height: 100%;
            width: 100%;
            padding: 5vw;
            background: rgba($color: $color-secondary, $alpha: .3);
            display: flex;
            align-items: center;
            
            .heading{
                font-size: 8rem;
                @media(max-width: 600px){
                    font-size: 6rem;
                }
            }
        }
    }

    #contact-info{
        height: 100vh;
    }
}