#main {
  padding-bottom: 5vh;
}

#main > * {
  border-bottom: 6px solid #F6F2D6;
  padding: 8vh 8vw;
}

#main #banner {
  padding: 0;
  position: relative;
  height: 500px;
  background-image: url(../media/sisikola-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 900px) {
  #main #banner {
    height: 60vw;
  }
}

#main #banner #banner-content {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  padding: 5vw;
  background: rgba(36, 24, 3, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #banner #banner-content .heading {
  font-size: 8rem;
}

@media (max-width: 600px) {
  #main #banner #banner-content .heading {
    font-size: 6rem;
  }
}

#main #contact-info {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10vw;
}

@media (max-width: 600px) {
  #main #contact-info {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 10vh;
  }
}

#main #contact-info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
}

#main #contact-info .contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .2em;
}

#main #contact-info .contact .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

#main #contact-info .contact .info div img {
  width: 1em;
}

#main #contact-info .contact .info .button {
  font-size: 4rem;
  margin-top: .5em;
}

#main #board {
  border: none;
  text-align: center;
  padding-top: 5vh;
}

#main #board .title {
  text-transform: uppercase;
  font-size: .4vw;
}

@media (max-width: 600px) {
  #main #board .title {
    font-size: .55vw;
  }
}

#main #board .title .heading {
  font-size: 16em;
  margin-bottom: .1em;
}

#main #board .title .description {
  font-size: 8em;
  margin-top: .3em;
}

@media (max-width: 600px) {
  #main #board .title .description {
    font-size: 10em;
  }
}

#main #board #board-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .3vw;
  padding-top: 5vw;
}

@media (max-width: 600px) {
  #main #board #board-members {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12vh;
  }
}

#main #board #board-members .board-member {
  height: 90em;
}

@media (min-width: 601px) {
  #main #board #board-members .board-member {
    -webkit-transition: .3s;
    transition: .3s;
  }
  #main #board #board-members .board-member .portrait .toggled {
    display: none;
  }
  #main #board #board-members .board-member:nth-child(odd) {
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }
  #main #board #board-members .board-member:hover {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  #main #board #board-members .board-member:hover .portrait .toggled {
    display: block;
  }
}

@media (max-width: 600px) {
  #main #board #board-members .board-member {
    height: 180em;
    font-size: .8vw;
  }
  #main #board #board-members .board-member .portrait {
    top: 8em;
  }
  #main #board #board-members .board-member .portrait .toggled {
    display: block;
  }
  #main #board #board-members .board-member .portrait .idle {
    display: none;
  }
}

#main #board #board-members .board-member .name {
  font-size: 16em;
}

#main #board #board-members .board-member .position {
  font-size: 8em;
  margin-top: .2em;
}

#main #board #board-members .board-member .portrait {
  position: relative;
  padding: 20em;
}

#main #board #board-members .board-member .portrait .idle, #main #board #board-members .board-member .portrait .toggled, #main #board #board-members .board-member .portrait .bg-diamond {
  position: absolute;
  left: 0;
  top: -2em;
  width: 100%;
  z-index: -1;
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

#main #board #board-members .board-member .portrait .bg-diamond {
  opacity: .5;
  top: 18em;
}
