@import "./defs.scss";

#main{
    padding-bottom: 5vh;
    
    & > *{
        border-bottom: 6px solid $color-main;
        padding: 8vh 8vw;
    }

    #banner{
        padding: 0;
        position: relative;
        height: 500px;
        background-image: url(../media/sisikola-banner.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media(max-width: 900px){
            height: 60vw;
            //background-position: 0;

        }

        #banner-content{
            backdrop-filter: blur(3px);
            height: 100%;
            width: 100%;
            padding: 5vw;
            background: rgba($color: $color-secondary, $alpha: .3);
            display: flex;
            align-items: center;
            
            .heading{
                font-size: 8rem;
                @media(max-width: 600px){
                    font-size: 6rem;
                }
            }
        }
    }

    #contact-info{
        position: relative; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10vw;
        @media(max-width: 600px){
            grid-template-columns: auto;
            gap: 10vh;
        }

        .contact{
            display: flex;
            flex-direction: column;
            gap: .5em;

            .info{
                display: flex;
                flex-direction: column;
                gap: .2em;
                div{
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    img{
                        width: 1em;
                    }
                }
                .button{
                    font-size: 4rem;
                    margin-top: .5em;
                }
            }
        }
    }

    #board{
        border: none;
        text-align: center;

        

        .title{
            text-transform: uppercase;
            font-size: .55vw;

            .heading{
                font-size: 16em;
                margin-bottom: .1em;
            }

            .description{
                font-size: 8em;
                margin-top: .3em;
                @media(max-width: 600px){
                    font-size: 10em;
                }
            }
        }

        #board-members{
            display: flex;
            justify-content: space-between;
            font-size: .3vw;
            padding-top: 10vw;
            
            @media(max-width: 600px){
                flex-direction: column;
                gap: 12vh;
            }
            
            .board-member{
                @media(min-width: 601px){
                    transition: .3s;

                    .portrait{
                        .toggled{
                            display: none;
                        }    
                    }
                    
                    &:nth-child(odd){
                        transform: translate(0, 20%);
                    }

                    &:hover{
                        transform: translate(0, -20%);
                        .portrait{
                            .toggled{
                                display: block;
                            }
                        }
                    }
                }
                
                @media(max-width: 600px){
                    height: 180em;
                    font-size: .8vw;
                    .portrait{
                        top: 8em;
                        .toggled{
                            display: block;
                        }   
                        .idle{
                            display: none;
                        }
                    }
                }

                .name{
                    font-size: 16em;
                }
                .position{
                    font-size: 8em;
                    margin-top: .2em;
                }

                .portrait{
                    position: relative;
                    padding: 20em;

                    .idle, .toggled, .bg-diamond{
                        position: absolute;
                        left: 0;
                        top: -2em;
                        width: 100%;
                        z-index: -1;
                        transform: scale(130%);
                    }

                    .bg-diamond{
                        opacity: .5;
                        top: 18em;
                    }
                }
            }
        }
    }
}