@import "./defs.scss";
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');

*{
    margin: 0;
}

body{
    background: $color-dark;
    color: $color-light;
    font-family: 'Geo', sans-serif;
}

header{
    background: $color-light;
    height: 10vh;
    width: 100vw;
    

    #header-img{
        height: 100%;
        
        img{
            height: 100%;
        }
    }
}