@import "./defs.scss";
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-size: 10px;
    @media (max-width: 1800px){
        font-size: 9px;
    }
    @media (max-width: 1500px){
        font-size: 8px;
    }
    @media (max-width: 1300px){
        font-size: 7px;
    }
    @media (max-width: 1200px){
        font-size: 6px;
    }
    @media (max-width: 900px){
        font-size: 5.5px;
    }
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 5rem;
    font-weight: normal;
}

body{
    background: $color-secondary;
    background-image: url("media/noise-bg");
    background-position: center;
    
    background-repeat: repeat;
    background-size: cover;
    color: $color-main;
    font-family: 'Geo', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

header, footer{
    background: $color-main;
    color: $color-secondary;
    width: 100vw;
    height: 10vh;
    z-index: 10; 
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4rem;
    box-shadow: .2rem .2rem 3rem rgba($color: $color-secondary, $alpha: 1);
    padding: 0 10rem;
    box-sizing: border-box;

    #header-img{
        width: 30rem;
    }

    #nav-bar{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        gap: 8rem;

        .nav-link{
            text-decoration: none;
            color: $color-secondary;
        }
    }
}

footer{
    font-size:2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .copyright{
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
}

.button{
    font-size: 5rem;
    border: 2px solid $color-main;
    padding: 1rem 8rem;
    background: rgba($color: $color-main, $alpha: .12);
    text-decoration: none;
    color: $color-main;

    &:hover{
        filter: brightness(400%);
        filter: saturate(200%);
        box-shadow: 0 0 1rem rgba($color: $color-main, $alpha: .8);
    }
}

.hamburger{
    display: none;
    cursor: pointer;

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: $color-secondary;
    }
}

@media(max-width: 700px){
    .hamburger{
        display: block;
    }
    hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bar{
        position: fixed;
        top: -100vh;
        flex-direction: column;
        background-color: rgba($color: $color-main, $alpha: .8);
        width: 100%;
        transition: .7s ease;
        z-index: -10;
        padding: 5rem 0 15rem 0;
        height: 100vh;
        margin: 0 -10rem;
        font-size: 7rem;
        backdrop-filter: blur(4px);
    }

    #nav-bar.active{
        top: 9vh;
    }
    
}

#main{
    width: 100vw;
    display: flex;
    flex-direction: column;
}