@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
}

body {
  background: #241803;
  color: #F6F2D6;
  font-family: 'Geo', sans-serif;
}

header, footer {
  background: #F6F2D6;
  color: #241803;
  height: 10vh;
  width: 100vw;
}

header #header-img {
  height: 100%;
}

header #header-img img {
  height: 100%;
}

footer .copyright {
  text-align: center;
}
