@import "./defs.scss";

#intro-splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../media/noise-bg.png);
    z-index: 999;
    padding:  0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(min-width: 700px){
        padding: 0 30%;
    }

    .logo{
        width: 100%;
    }

    &.display-none{
        opacity: 0;
        z-index: -99;
        transition: .5s;
    }
}

#main{
    #splash{
        position: relative;
        border-bottom: 2rem solid $color-main;
        overflow: hidden;
        
        @media(min-width: 1400px){
            height: 90vh;
        }

        #video{
            width: 100vw;
            video{
                width: 100%;
            }
        }

        #video-overlay{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            background: rgba($color: $color-secondary, $alpha: .6);
            backdrop-filter: blur(4px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
            #overlay-content{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 8vw;
                width: 100%;
                gap: 5vw;
                @media(max-width:1300px){
                    padding: 0 6vw;
                }

                .logo-image{
                    width: 22vw;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .splash-text{
                    display: flex;
                    flex-direction: column;
                    gap: 6rem;

                    .text-container{
                        position: relative;
                        left: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 10vw;
                        
                        font-size: 4rem;
                        @media(min-width: 400px){
                            font-size: 5rem;
                        }
                        
                        .text{
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            justify-content: center;
                            line-height: .6em;

                            :nth-child(even){
                                line-height: .6em;

                                font-size: 16rem;
                                position: relative;
                                top: 0;
                                left: -1rem;
                            }

                            .first{
                                display: flex;
                                flex-direction: row;
                                align-items: flex-end;
                                margin-bottom: 1.6rem;
                                :nth-child(2){
                                    font-size: 8rem;
                                }
                            }
                        }
                    }

                    .logo-text{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        hr{
            height: 1rem;
            color: $color-main;
            background: $color-main;
        }

        @media(max-width: 700px){   
            #video{
                height: 80vh;
                video{
                    object-fit: cover;
                    height: 100%;
                }
            }
            
            .logo-text, .text:nth-child(1) *{
                display: none;
            }

            #video-overlay{
                padding: 5vw;
                height: 80vh;
                justify-content: center;
                gap: 5vh;

                #overlay-content{
                    flex-direction: column;

                    .splash-text{
                        .text-container{
                            gap: 0;
                        }
                    }

                    .logo-image{
                        width: 100%;
                        max-width: 40vh;
                    }
                }
            }
        }
    }

    
    #welcome-text{
        position: relative;
        padding: 8rem;
        height: 80vh;

        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        @media(max-width: 600px){
            grid-template-columns: 1fr;
        }

        .text{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        .image{
            position: relative;
            height: 100%;
            width: 100%;

            @media(max-width: 600px){
                position: absolute;
                z-index: -1;
                opacity: 30%;
                top: 20%;
                left: 10%;
            }

            video{
                width: 95%;
                position: absolute;
                z-index: -1;
                top: 5%;
                @media(max-width: 600px){
                    left: 10%;
                }
            }
            
            .diamond{
                position: absolute;
                left: 5%;
                top: 0;
                z-index: -2;
                opacity: 50%;
                width: 150%;

            }
        }
    }
}