#main #splash {
  position: relative;
  border-bottom: 2rem solid #F6F2D6;
  overflow: hidden;
}

@media (min-width: 1400px) {
  #main #splash {
    height: 90vh;
  }
}

#main #splash #video {
  width: 100vw;
}

#main #splash #video video {
  width: 100%;
}

#main #splash #video-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: rgba(36, 24, 3, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main #splash #video-overlay #overlay-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8vw;
  width: 100%;
  gap: 5vw;
}

@media (max-width: 1300px) {
  #main #splash #video-overlay #overlay-content {
    padding: 0 6vw;
  }
}

#main #splash #video-overlay #overlay-content .logo-image {
  width: 22vw;
}

#main #splash #video-overlay #overlay-content .logo-image img {
  width: 100%;
  height: auto;
}

#main #splash #video-overlay #overlay-content .splash-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
}

#main #splash #video-overlay #overlay-content .splash-text .text-container {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10vw;
  font-size: 4rem;
}

@media (min-width: 400px) {
  #main #splash #video-overlay #overlay-content .splash-text .text-container {
    font-size: 5rem;
  }
}

#main #splash #video-overlay #overlay-content .splash-text .text-container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: .6em;
}

#main #splash #video-overlay #overlay-content .splash-text .text-container .text :nth-child(even) {
  line-height: .6em;
  font-size: 16rem;
  position: relative;
  top: 0;
  left: -1rem;
}

#main #splash #video-overlay #overlay-content .splash-text .text-container .text .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.6rem;
}

#main #splash #video-overlay #overlay-content .splash-text .text-container .text .first :nth-child(2) {
  font-size: 8rem;
}

#main #splash #video-overlay #overlay-content .splash-text .logo-text {
  width: 100%;
  height: auto;
}

#main #splash hr {
  height: 1rem;
  color: #F6F2D6;
  background: #F6F2D6;
}

@media (max-width: 700px) {
  #main #splash #video {
    height: 80vh;
  }
  #main #splash #video video {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  #main #splash .logo-text, #main #splash .text:nth-child(1) * {
    display: none;
  }
  #main #splash #video-overlay {
    padding: 5vw;
    height: 80vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5vh;
  }
  #main #splash #video-overlay #overlay-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main #splash #video-overlay #overlay-content .splash-text .text-container {
    gap: 0;
  }
  #main #splash #video-overlay #overlay-content .logo-image {
    width: 100%;
    max-width: 40vh;
  }
}

#main #welcome-text {
  position: relative;
  padding: 8rem;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  #main #welcome-text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#main #welcome-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

#main #welcome-text .image {
  position: relative;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #main #welcome-text .image {
    position: absolute;
    z-index: -1;
    opacity: 30%;
    top: 20%;
    left: 10%;
  }
}

#main #welcome-text .image video {
  width: 95%;
  position: absolute;
  z-index: -1;
  top: 5%;
}

@media (max-width: 600px) {
  #main #welcome-text .image video {
    left: 10%;
  }
}

#main #welcome-text .image .diamond {
  position: absolute;
  left: 5%;
  top: 0;
  z-index: -2;
  opacity: 50%;
  width: 150%;
}
